<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>21Cineplux</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Update Penjaga</h2>
        <br>
        <form th:action="@{/penjaga/update}" th:object="${penjaga}" method="POST">
          <input type="hidden" th:field="*{noPenjaga}" />
          <input type="hidden" th:field="*{bioskop}" />

          Nama Penjaga : <br>
          <input required class="form-control" type="text" name="namaPenjaga" th:value="*{namaPenjaga}"/>
          <br>

          Jenis Kelamin : <br>
          <select name="jenisKelamin" th:value="*{jenisKelamin}" selected>
            <option value="0">Perempuan</option>
            <option value="1">Laki-laki</option>
          </select>
          <br><br>

          <button class="btn btn-primary" type="submit">Submit</button>
          <a class="btn btn-primary" href="/">Home</a>
        </form>
      </div>
    </div>
  </div>
</div>

</body>

</html>