<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>21Cineplux</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<h1 th:text="'Bioskop dengan nomor bioskop ' + ${bioskop.noBioskop} + ' berhasil dihapus'"></h1>

<a href="/bioskop/viewall">Kembali</a>
</body>
</html>